@using System.Threading;
@using System.IO;
@using System.Text

<style>
     /* unvisited link */
    a:link {
      color: black;
    }

    /* visited link */
    a:visited {
      color: black;
    }

    /* mouse over link */
    a:hover {
      color: black;
    }

    /* selected link */
    a:active {
      color: black;
    }

    a:hover{
        cursor: default;
    }

    @@media screen and (min-width: 1000px) {
        #aboutMeText {
            position: relative;
            margin: 5% auto auto auto;
            max-width: 70%;
            text-indent: 3em;
        }
    }

    @@media screen and (max-width: 1000px) {
        #aboutMeText {
            position: relative;
            margin: 5% auto auto auto;
            min-width: 10%;
            text-indent: 3em;
        }
    }
</style>

<div style="justify-content:center" id="aboutMeText">
    <p class="flex-column" id="aboutMeText">
        My name is Scott Fernandez,
        I work for Gold Star Mortgage Financial Corperate office as a Senior 
        Assistant Business Application Developer. I'm dedicated to learning
        new skills to build and enhance the effectiveness and efficiency of our custom
        applications and collaboration of our team. Skilled in Microsoft Office, Visual
        Studio, Unity, Blazor Applications/Razor Components, X<a style="text-decoration: none;" href="mLand/index.html" target="_blank">ML</a>, JSON, MVC applications, 
        Android App development, .NET Framework/.NET Core/.NET5, Rest, API integration, 
        MS SQL Server, C#, and other Object Oriented Programming languages.
    </p>
</div>