<style>
    #AboutMeHeader {
        font-size: 2em;
    }
</style>

<h1 class="text-lg-center" id="AboutMeHeader">About Me</h1>

<img class="rounded-circle mx-auto d-block" src="imgs/me.jpg" alt="Image" id="aboutMeImg" />

<OutPost13.Components.AboutMeText />

@code {

}
