@page "/counter"

@using BlazorAnimate;

<h1>Counter App</h1>

<Animate Animation="Animations.SlideLeft" @ref="anim" IsManual="true" Duration="TimeSpan.FromSeconds(.5)" Once="false">
    <p>Current count: @currentCount</p>
</Animate>

    <button class="btn btn-primary" @onclick="@(() => {@IncrementCount(); @Animate();})">@Click</button>


@code {

    Animate anim = new Animate();
    void Animate()
    {
        anim.Run();
    }
    public string Click { get; set; } = "Click me!";

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
