@page "/"

<div class="text-center">
    <h1 style="font-size: xxx-large;">Welcome to OutPost 13 dotnet!</h1>
    <p>This site will serve as a place to test different skills using the Blazor platform.</p>
</div>

<AboutMe/>

<div style="margin-top:10%"/>