<style>
    .spinnerr {
        border: 16px solid silver;
        border-top: 16px solid #337AB7;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 700ms linear infinite;
        top: 40vh;
        left: 40vw;
        position: absolute;
        z-index: 3;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .main:before {
        position: @LockBG;
        content:"";
        width: 100%;
        background: #4a4948;
        opacity: 0.6;
        height: 200%;
        left:0;
        z-index: 1;
    }
</style>

@if (Show)
{
    <div class="spinnerr"></div>
}
else
{
    if (!changed)
    {
        LockBG = "";
        StateHasChanged();
        changed = true;
    }
}

@code {
    [Parameter]
    public bool Show { get; set; }

    bool changed = false;

    public string LockBG = "absolute";

}