@page "/radar"

@using BingMapsRESTToolkit;

<style type="text/css">
    li {
        list-style: none;
        display: inline-block;
    }
</style>

<h3>WeatherRadar</h3>

<div class="container">
    <ul style="text-align:center; height: 50px;">
        <li><input type="radio" name="kind" checked="checked" onchange="setKind('radar')">Radar (Past + Future) <input type="radio" name="kind" onchange="setKind('satellite')">Infrared Satellite</li>

        <li><input type="button" @onclick="@(() => {Stop(); ShowFrame(animationPosition - 1);})" value="<" /></li>
        <li><input type="button" @onclick="@(() => {PlayStop();})" value="Play / Stop" /></li>
        <li><input type="button" @onclick="@(() => {Stop(); ShowFrame(animationPosition + 1);})" value=">" /></li>

        <li><select id="colors" onchange="setColors(); return;">
            <option value="0">Black and White Values</option>
            <option value="1">Original</option>
            <option value="2" selected="selected">Universal Blue</option>
            <option value="3">TITAN</option>
            <option value="4">The Weather Channel</option>
            <option value="5">Meteored</option>
            <option value="6">NEXRAD Level-III</option>
            <option value="7">RAINBOW at SELEX-SI</option>
            <option value="8">Dark Sky</option>
        </select></li>
    </ul>

    <div id="timestamp" style="text-align:center; height: 80px;">FRAME TIME</div>

    <div id="mapid"></div>
</div>


@code {
    int animationPosition { get; set; }


    void InitMap()
    {
    }

    void PlayStop()
    {
        
    }

    void Stop()
    {
        
    }

    void ShowFrame(int animPOS)
    {
        
    }
}
